Flask
gunicorn==20.0.4
Jinja2
numpy
pandas
pickleshare
Pillow
pyOpenSSL
PySocks
scipy==1.6.0
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp38-cp38-linux_x86_64.whl
torchaudio==0.7.2
torchtext==0.3.1
torchvision==0.8.2
tornado
