backcall
beautifulsoup4
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click
colorama
cryptography
cycler==0.10.0
decorator
Flask
gunicorn==20.0.4
idna
ipython
ipython-genutils
itsdangerous
jedi==0.17.0
Jinja2
joblib
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib
mkl-random==1.1.1
mkl-service==2.3.0
nltk
numpy
olefile==0.46
pandas
parso
pickleshare
Pillow
prompt-toolkit
pycparser
Pygments
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
pytz
regex
requests
scipy==1.6.0
seaborn
sip==4.19.13
six
soupsieve
torch==1.7.1
torchaudio==0.7.2
torchtext==0.3.1
torchvision==0.8.2
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
Werkzeug
win-inet-pton
wincertstore==0.2
