<!DOCTYPE html>
<html>
    <head>
        <title>Conspiracy Theory Generator</title>
        <link href={{ url_for('static', filename='css/style.css') }} rel=stylesheet>
        <link rel="shortcut icon" type="image/jpg" href={{ url_for('static', filename='img/favicon.png') }}>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Lato:wght@400;700&family=Share+Tech+Mono&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Conspiracy Theory Generator App" />
        <meta name="title" property="og:title" content="Conspiracy Theory Generator" />
        <meta property="og:type" content="Website" />
        <meta name="image" property="og:image" content="{{ thumb }}"/>
        <meta name="description" property="og:description" content="Conspiracy Theory Generator App" />
        <meta name="author" content="Kristina Brantley" />
    </head>
    <body>
        <div class='container'>
            <h1 class='main_title'>Conspiracy Theory Generator</h1>
          
            <form id='form' action="{{ url_for('generate')}}" method="post" class='form_container'>
                <div class='input_container form_text'>
                    <label class='label_text'>Seed Text:</label>
                    <textarea 
                        class='input input_text' 
                        type="text" 
                        name="seed_text"
                        placeholder="How do you want your theory to start?"
                        required 
                        rows="3" cols="30"></textarea>
                        <div class='instruct instruct_text'>
                            Enter the starting text of your theory - it helps if you include a noun, verb, and preposition/adverb.
                            <br>
                            For example: 'puppies secretly plotted to'
                        </div>
                </div>
                <div class='input_container form_length'>
                    <label class='label_length'>Length:</label>
                    <input 
                        class='input input_length' 
                        type="number" 
                        name="gen_length"
                        required/>
                    <div class='instruct instruct_length'>Enter the number of words to generate (this does not include your seed words).</div>
                </div>
                
                <div class='form_button'>
                    <button class='generate button' name="submit_button" type="submit">Generate</button>
                    {% block button %}
                    {% endblock %}  
                </div>

                {% block generated %}
                {% endblock %}     

            </form>            

            <footer class='footer'>
                <div class='footer_item copy'>
                    Copyright &copy; 2021 Kristina Brantley. All rights reserved.
                </div>
                <div class='footer_item favicon_link'>
                    <a target="_blank" href="https://icons8.com/icons/set/planet-globe">UFO favicon by Icons8</a>
                </div>
                <div class='footer_item github_link'>
                    <a target="_blank" href="https://github.com/kristinamb15/conspiracy-generator">View source <img src="../static/img/github.png" alt="git"> on GitHub</a>
                </div>
            </footer>                   

        </div>

        <img src="{{ url_for('static', filename='img/thumbnail.png') }}" alt="thumb" style="display:none">

    </body>

    <script>
        const input_text = document.querySelector('.input_text');
        const input_length = document.querySelector('.input_length');

        function reload() {
            input_text.removeAttribute('required');
            location.reload();
            return false;
        }
    </script>    

</html>