<!DOCTYPE html>
<html>
    <head>
        <title>Conspiracy Theory Generator</title>
        <link href={{ url_for('static', filename='style.css') }} rel=stylesheet>
        <link rel="shortcut icon" type="image/jpg" href={{ url_for('static', filename='favicon.png') }}>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Libre+Barcode+39+Text&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class='container'>
            <h1 class='main_title'>Conspiracy Theory Generator</h1>
          
            <form id='form' action="{{ url_for('generate')}}" method="post" class='form_container'>
                <div class='input_container form_text'>
                    <label class='label_text'>Seed Text</label>
                    <textarea 
                        class='input input_text' 
                        type="text" 
                        name="seed_text"
                        placeholder="How do you want your theory to start?"
                        required 
                        rows="3" cols="30"></textarea>
                    <p class='instruct instruct_text'>Enter the starting text of your theory - it helps if you include a noun, verb, and preposition/adverb. <br>
                    For example: 'puppies secretly plotted to'</p>
                </div>
                
                <div class='input_container form_length'>
                    <label class='label_length'>Length</label>
                    <input 
                        class='input input_length' 
                        type="number" 
                        name="gen_length"
                        required/>
                    <p class='instruct instruct_length'>Enter the number of words to generate (this does not include your seed words).</p>
                </div>
                
                <div class='form_button'>
                    <button class='generate button' name="submit_button" type="submit">Generate</button>
                    {% block button %}
                    {% endblock %}  
                </div>
            </form>

            {% block generated %}
            {% endblock %}            

            <footer>
                <div class='footer'>
                    <p>
                        Copyright &copy; 2021 Kristina Brantley. All rights reserved.
                    </p>
                    <p>
                        <a target="_blank" href="https://icons8.com/icons/set/planet-globe">UFO favicon</a> by <a target="_blank" href="https://icons8.com">Icons8</a>
                    </p>
                </div>
            </footer>
        </div>
    </body>

    <script>
        function reload() {
            document.querySelector('.input_text').required = false;
            location.reload();
            return false;
        }
    </script>
    

</html>